<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.FerreteriaPAConnectionString"
            connectionString="Data Source=CASA;Initial Catalog=FerreteriaPA;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.FerreteriaChalquinConnectionString"
            connectionString="Data Source=DESKTOP-M2DUKGS;Initial Catalog=FerreteriaChalquin;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>